In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../input_data/data.csv")

In [3]:
X = df.drop('xAttack',axis=1)
y = df['xAttack']

In [4]:
from numpy import mean
from numpy import cov
from numpy.linalg import eig

In [5]:
X_st = (X-np.mean(X,axis=0))/(np.std(X,axis=0))

In [6]:
CovarMatrix = np.cov(X_st.T)

In [7]:
eigen_values, eigen_vectors = np.linalg.eig(CovarMatrix)

In [8]:
eigen_pair = [(np.abs(eigen_values[i]),eigen_vectors[:,i]) for i in range(len(eigen_vectors))]

In [9]:
eigen_pair = pd.DataFrame(eigen_pair, columns = ['eigen value','eigen vector'])
eigen_pair.keys()

Index(['eigen value', 'eigen vector'], dtype='object')

In [10]:
eigen_pair = eigen_pair.sort_values(by=['eigen value'], ascending=False)

In [11]:
threshold=0.7
a = 0
theta = 0
b = np.sum(eigen_pair.iloc[:,0],axis = 0)

In [12]:
for i in range(len(eigen_pair)):
    a += eigen_pair.iloc[i,0]
    ratio = a/b
    var = eigen_pair.iloc[i,0]
    if ratio >= 0.9:
        k = i
        break

In [13]:
Vm = eigen_pair.iloc[0:i,1] 
temp = []
for i in Vm:
    temp.append(i)
Vm = np.array(temp)

In [14]:
ReducedData = X_st.dot(Vm.T)
ReducedData.insert(loc=13, column='class', value=y)
ReducedData.shape

(125973, 14)

In [15]:
type(ReducedData)

pandas.core.frame.DataFrame

In [16]:
pd.DataFrame(ReducedData).to_csv("reducedData.csv",index=False)

In [17]:
ReducedData.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,class
0,1.008902,-0.272003,0.029599,0.150049,0.259692,0.578094,-0.058921,-0.174519,0.269307,0.034294,-0.066373,0.280443,-0.057627,normal
1,-0.495837,1.120908,0.211958,1.340940,-1.399765,2.614655,-1.432534,0.272444,-0.051265,0.011499,-0.163504,0.214391,-0.061687,normal
2,-3.802336,-1.248098,0.058765,0.434412,0.394424,-0.108576,0.140225,0.172886,-0.078086,0.006332,0.009409,0.119714,-0.000965,dos
3,2.103190,-1.050187,-0.037603,-0.002242,0.858471,-0.242829,0.029154,0.230059,-0.034821,-0.003268,0.001687,0.053330,-0.178822,normal
4,1.891748,-0.881356,-0.156240,-1.170189,0.583164,0.268428,-0.042166,0.312500,-0.093507,-0.006820,0.055598,0.069313,-0.052597,normal